/* ------------------ Variables */
:root {
  /* Couleurs thème clair */
  --color-bg: #f8f9fa;
  --color-text: #212529;
  --color-card-bg: #ffffff;
  --color-border: #ccc;

  /* Typography */
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-sm: 0.875rem;

  /* Spacings */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
}

[data-theme="dark"] {
  --color-bg: #121212;
  --color-text: #f1f1f1;
  --color-card-bg: #1e1e1e;
  --color-border: #333;
}

/* ------------------ Reset minimal */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  display: flex;
  width: 100%;
}
body {
  font-family: system-ui, sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
}

body.theme-dark {
  --color-bg: #121212;
}

main {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}

/* ------------------ Container Setup */
.card-wrapper {
  container-type: inline-size;
  padding: 1rem;
  background: var(--color-card-bg);
  border: 1px solid var(--color-border);
  border-radius: 12px;
}

/* ------------------ Component */
.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  align-items: center;
}

.card img {
  width: 150px;
  height: auto;
  border-radius: 12px;
}

.card .content {
  text-align: center;
}

/* ------------------ Container Query */
@container (min-width: 370px) {
  .card {
    flex-direction: row;
    text-align: left;
    gap: var(--spacing-lg);
  }

  .card .content {
    padding-left: 1rem;
  }
}

/* ------------------- Flex box */

.header,
.footer {
  border-color: var(--color-border);
  background: var(--color-card-bg);
}

.header {
  display: flex;
  border-bottom: #ccc 1px solid;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.content-wrapper {
  flex: 1;
  overflow: auto;
  padding-block: 1rem;
  padding-inline: 2rem;
}

.footer {
  border-top: #737272 1px solid;
  padding: 1rem;
}

/* THeme switch */
.theme-toggle {
  padding: 0.5rem 1rem;
  background: var(--color-card-bg);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: 6px;
  cursor: pointer;
}
